# Ignore everything by default.
*

# Allow the repository root to be scanned.
!*/

# Keep only the source, docs, and project metadata tracked.
!.gitignore
!LICENSE
!README.fr.md
!README.md
!analyze.py
!render.py
!requirements.txt
